@import 'base/variables';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/global';
@import 'base/components';

@import 'layouts/header';
@import 'layouts/navigation';
@import 'layouts/about';
@import 'layouts/works';
@import 'layouts/clients';
@import 'layouts/services';
@import 'layouts/team';
@import 'layouts/blog';
