

.blog--wrapper
  display flex
  flex-wrap wrap
  justify-content center

.blog__img
  position relative
  margin-right 30px
  margin-bottom 30px
  &:nth-of-type(2),
  &:nth-of-type(4)
    margin-right 0
  @media (max-width:1160px)
    flex-basis 450px

  @media (max-width:980px)
    flex-basis 539px
    margin-right 0

  img
    display block
    width 100%
    height auto

.blog__img__meta
  padding 15%
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background #5b4d44
  opacity 0
  transition all 0.5s
  &:hover
    opacity 0.8
  @media (max-width:1160px)
    padding 8%
  @media (max-width:980px)
    padding 15%
  @media (max-width:350px)
    padding 5%

.blog__img__meta__text
  h2
    color white
    text-transform uppercase
    font-size 1.5rem
    letter-spacing 1.1px
    margin-bottom 5px
  span
    display block
    height 2px
    width 10%
    background white
  p
    color white
    text-align justify
    margin-top 5px
    width 70%

.blog__img__meta__link

  display flex
  width 40%
  margin-left 80%
  margin-top 30%
  @media (max-width:1160px)
    margin-left 60%


  @media (max-width:980px)
    margin-left 80%
    margin-top 10%
  @media (max-width:350px)
    margin-left 60%
    margin-top 10%
  span
    margin auto
    display block
    height 1px
    width 10px
    background white
  a
    padding 5px
    color white
    border 1px solid white
    text-transform uppercase
