#owl-clients
  .owl-stage
    display flex
    justify-content space-around
    .active
      border none
  .owl-item
    display flex
    justify-content space-around
    height 130px
  .owl-dots
    display none

  .owl-nav
    display flex
    color transparent
    justify-content center
    margin-top 40px
    .owl-prev
      background url(images/left_a.png)
      background-repeat no-repeat
      margin-right 20px
      height 25px
    .owl-next
      background url(images/right_a.png)
      background-repeat no-repeat
      height 25px
