.container--1200
  max-width 1200px
  margin 0 auto

.team-wrapper
  display flex
  justify-content center
  flex-wrap wrap


.team__person
  position relative
  width 254px
  margin-right 30px
  margin-bottom 30px
  flex basis 250px
  @media (max-width: 584px)
    margin-right 10px
    margin-bottom 10px

.team__person__meta
  background #5b4d44
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  opacity 0
  transition all 0.6s
  &:hover
    opacity 0.8

.team__person__meta__text
  padding 50px 40px
  margin-top 220px
  h2
    color white
    text-transform uppercase
    letter-spacing 1.1px
    margin-bottom 5px

  span
    display block
    height 2px
    width 42px
    background white
  p
    color #d1baac
    margin-top 5px
    font-size 1.1rem

.team__join
  border 2px solid #97735e
  width 254px
  height 472px
  margin-right 30px
  margin-bottom 30px
  flex basis 250px
  //padding 60px
  @media (max-width: 584px)
    margin-right 10px
    margin-bottom 10px

  img
    display block
    margin 150px auto 30px
  h2
    text-align center
    color #97735e
    text-transform uppercase
    font-size 2.5rem
    letter-spacing 2px
    margin-bottom 50px
  span
    font-size 3rem
    letter-spacing 1px

.team__join__button
  margin 0 auto
  display flex
  justify-content space-around
  width 70%


  span
    display block
    height 1px
    width 18px
    margin auto
    background #97735e
  a
    display block
    background #97735e
    color white
    padding 5px 30px
    font-size 1.2rem
    text-transform uppercase

/*social icons and hover effect */

.team__person__meta__icons
  display flex
  justify-content space-between
  width 70%
  margin 0 auto 30px
  a
    display block
    height 15px
    width 15px
    margin-top 20px

  .facebook
    background url(images/fe-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/fe-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat

  .twitter
    background url(images/tw-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/tw-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat

  .linkedin
    background url(images/li-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/li-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat

  .behance
    background url(images/be-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/be-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat

  .dribble
    background url(images/dr-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/dr-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat

  .mail
    background url(images/ma-icon.png)
    background-repeat no-repeat
    background-position 50% 50%
    height 12px
    width 12px
    padding 5px
    border 1px solid white
    border-radius 50%

    &:hover
      background url(images/ma-icon-h.png), white
      background-position 50% 50%
      background-repeat no-repeat
