// Variables go here
primary-font = 'Montserrat', sans-serif;
secondary-font = 'PT Serif', serif;


//background colors
header-color = #7c848d
secondary-color = #97735e

header-font-color = #fff
hover-color = #9c7660
